.button {
    border-radius: 12px;
    background: #7B61FF;
    color: white;
    transition: background-color 0.2s ease-in;
}

.button:hover {
    background-color: #6344ff;
}

.button--huge {
    padding: 24px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

@media screen and (max-width:500px) {
    .button--huge {
        padding: 12px;
        font-size: 16px;
    }
}

.button--search {
    width: 60px;
    height: 60px;
    padding: 18px;
}

.button--subscribe {
    width: 72px;
    height: 72px;
    padding: 28px;
}

/* Button More */

.button-more {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 4px;

    border-radius: 12px;
    background: #F6F4FF;
    height: 44px;
    color: #5243C2;
    font-size: 16px;
    transition: background-color 0.2s ease-in;
}

.button-more:hover {
    background: #eeeafe;
}